body{
    display: flex;
    justify-content: center;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    align-items: center;
    position: fixed;
    top: 0;
}

div{
    display: flex;
margin-right: 10px;
padding: 10px;
background-color: black;
align-items: center;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

main{
    justify-content: center;
    display: flex;
    width: 100%;
flex-direction: column;
padding: 30px;
max-width: 700px;
}

h2{
    margin-left: 20px;
}

aside{
    display: flex;
   
      margin-top: 50px;
      height: 100%;
      flex-direction: column;
}

aside a{
    color: blue;
}

@media screen and (max-width: 600px){
    body{
        flex-direction: column-reverse;
    }
    aside{
        height: auto;
    }
}