* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 57px;
    background-color: black;
    color: white;
    align-items: center;
    position: fixed;
    top: 0;
}

div {
    display: flex;
    margin-right: 10px;
    padding: 10px;
    background-color: black;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

main {
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 30px;
    max-width: 700px;
}

h2 {
    margin-left: 20px;
}

aside {
    display: flex;
    margin-top: 50px;
    height: 100%;
    flex-direction: column;
}

aside a {
    color: blue;
}

@media screen and (max-width: 600px) {
    body {
        flex-direction: column-reverse;
    }

    aside {
        height: auto;
    }
}

button {
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    margin-right: 10px;
    border-bottom: none;
    border: none;
    font-size: x-large;
}

button#boton {
    display: none;
}

@media screen and (max-width:340px) {
    button#boton {
        display: block;
    }

    div.header {
        display: none;
    }

    header.menu div.header {
        display: flex;
    }

}

.menu {
    display: flex;
    margin-right: 10px;
    padding: 10px;
    background-color: black;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;

}

.column {
    display: flex;
    flex-direction: column;
    margin-top: -500px;
    margin-left: 30px;
    font-size: x-large;
    margin-bottom: 40px;
}